@import url("https://fonts.googleapis.com/css2?family=Chaney&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*===== BUTTON =====*/
.blob-btn {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;

  text-transform: uppercase;
  color: #fc372d;
  background: transparent;
  border: 1px solid #464646;
  cursor: pointer;
  transition: color 0.5s;
}

.blob-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fc372d;
}

.blob-btn:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
}

.blob-btn:hover {
  color: #f7f1e4;
}

.blob-btn:hover:after {
  left: 0;
  top: 0;
}

.blob-btn__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f7f1e4;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #fc372d;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.4);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 25%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 50%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 75%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.4);
}
